.vscode/**
src/**
docs/**
test/**
mockups/**
.devcontainer/**
.github/**
node_modules/**
esbuild.js
eslint.config.mjs
tsconfig.json
package-lock.json
**/*.map
**/*.ts
.gitignore
README.md
